body {
    background-image:url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM=");
    background-size:cover;
}



h3{
    font-size:15px;
      width:15%;
           
      border-style:solid;
      border-width:2px;
      border-radius:25px;
      border-color:white;
    
}

canvas {
    border-style:solid;
    border-width:2px;
    border-color:rgb(255, 0, 0);
    border-radius:25px;
}